<div class="column card-wrapper">
  <img src="https://img.freepik.com/free-photo/online-message-blog-chat-communication-envelop-graphic-icon-concept_53876-139717.jpg?size=626&ext=jpg&ga=GA1.1.1480204119.1715817600&semt=sph" alt="" />
  <div class="column text-wrapper gap-05" routerLink="/post/{{ post.id }}">
    <h2 class="title">{{ post.title }}</h2>
    <div class="row space-between">
      <span class="view">{{ post.views + "views" }}</span>
      <span class="view">{{ post.likes + "likes" }}</span>
      <span class="date">{{ formatDate(post.date) }}</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
      pulvinar mi sed ullamcorper. Nunc ac venenatis sapien. Morbi cras amet.
    </p>
    <div class="read-more">read more</div>
  </div>
</div>

