<div class="column card-wrapper">
  <img [src]="post.image" alt="" />
  <div class="column text-wrapper gap-05" routerLink="/post/{{ post.id }}">
    <h2 class="title">{{ post.title }}</h2>
    <div class="row space-between">
      <span class="view">{{ post.views + "views" }}</span>
      <span class="view">{{ post.likes + "likes" }}</span>
      <span class="date">{{ formatDate(post.date) }}</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
      pulvinar mi sed ullamcorper. Nunc ac venenatis sapien. Morbi cras amet.
    </p>
    <div class="read-more">read more</div>
  </div>
  <div class="row">
    <button
      type="button"
      pButton
      icon="pi pi-pencil"
      (click)="editPost()"
      label="Edit"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-trash"
      (click)="deletePost()"
      label="Delete"
    ></button>
  </div>
</div>
