:root{
    --bg-color:rgb(66,66,66);
    --dark:rgb(40,40,40);
    --mid:rgb(125,150,150);
    --highlight:rgb(0,145,180);
    --light:rgb(200,235,235);
    --text-color:rgb(225, 230, 235);
    --text-color-transparent:rgb(225, 230, 235,0.5);
}