<p-dialog
  [header]="header"
  [modal]="true"
  [(visible)]="display"
  [closable]="false"
>
  <div class="column gap-1">
    <!-- TITLE -->
    <div class="row gap-05">
      <span class="price-label"> Title: </span>
      <input type="text" [(ngModel)]="post.title" />
    </div>

    <!-- URL TO IMG -->
    <!-- <div class="row gap-05">
            <span class="price-label"> Image: </span>
            <input type="text" [(ngModel)] = "post.image[0]"/>
        </div> -->

    <!-- CONTENT  -->
    <div class="row gap-05">
      <span class="price-label"> Content: </span>
      <input type="text" [(ngModel)]="post.content" />
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="onConfirm()">
      Confirm
    </button>
    <button type="button" pButton icon="pi pi-times" (click)="onCancel()">
      Cancel
    </button>
  </p-footer>
</p-dialog>
